@import "_custom-variables.scss";




@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


@mixin title-font(){
    font-family: $font-family-alt;
    font-weight: 700;
}


@mixin bootstrap-icon-font(){
    font-family: "Glyphicons Halflings";
}

@mixin arrow-up(){
    font-family: "Glyphicons Halflings";
    content: "\e260";
}
@mixin arrow-down(){
    font-family: "Glyphicons Halflings";
    content: "\e259";
}
@mixin arrow-left(){
    font-family: "Glyphicons Halflings";
    content: "\e257";
}
@mixin arrow-right(){
    font-family: "Glyphicons Halflings";
    content: "\e258";
}


@mixin placeholder-color($color: $gray){
    &::-webkit-input-placeholder {
        color: $color;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: $color;  
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        color: $color;  
    }

    &:-ms-input-placeholder {  
        color: $color;  
    }
}

@mixin btn-arrow-hover-left(){
    padding-left: $default-spacing / 2;
}
@mixin btn-arrow-hover-right(){
    padding-right: $default-spacing / 2;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}


@mixin transition-std($target: all, $ease: ease, $duration: 0.3s) {
  -webkit-transition: $target $ease $duration;
       -o-transition: $target $ease $duration;
          transition: $target $ease $duration;
}

@mixin transition-category-item($target: all, $ease: ease, $duration: 0.3s, $delay: 0.4s) {
  -webkit-transition: $target $ease $duration $delay;
       -o-transition: $target $ease $duration $delay;
          transition: $target $ease $duration $delay;
}


@mixin transform($transform...) {
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

@mixin border-radius($radius...){
    border-radius: $radius;
}



// (min) Breakpoints
@mixin breakpoint($name) {
    $lg: "(min-width: 1200px)";
    $ipad-landscape: "(min-width: 1025px)";
    $md: "(min-width: 1020px)";
    $sm: "(min-width: 992px)";
    $xs: "(min-width: 768px)";
    $xxs: "(min-width: 480px)";

    @if $name == lg {
        @media #{$lg} {
            @content;
        }
    }
    @else if $name == ipad-landscape {
        @media #{$ipad-landscape} {
            @content;
        }
    }
    @else if $name == md {
        @media #{$md} {
            @content;
        }
    }
    @else if $name == sm {
        @media #{$sm} {
            @content;
        }
    }
    @else if $name == xs {
        @media #{$xs} {
            @content;
        }
    }
    @else if $name == xxs {
        @media #{$xxs} {
            @content;
        }
    }
}

// (max) Breakpoints
@mixin breakpoint-max($name) {
    $lg: "(max-width: 1199px)";
    $ipad-landscape: "(max-width: 1024px)";
    $md: "(max-width: 1019px)";
    $sm: "(max-width: 991px)";
    $xs: "(max-width: 767px)";
    $xxs: "(max-width: 479px)";

    @if $name == lg {
        @media #{$lg} {
            @content;
        }
    }
    @else if $name == ipad-landscape {
        @media #{$ipad-landscape} {
            @content;
        }
    }
    @else if $name == md {
        @media #{$md} {
            @content;
        }
    }
    @else if $name == sm {
        @media #{$sm} {
            @content;
        }
    }
    @else if $name == xs {
        @media #{$xs} {
            @content;
        }
    }
    @else if $name == xxs {
        @media #{$xxs} {
            @content;
        }
    }
}