@import "../_custom-variables.scss";
@import "../_custom-mixins.scss";

body {
}

[data-ui-sref]{
    cursor: pointer;
}

.scroll {
    height: 100%;
}

.container{
    padding: $default-spacing;
}

.nav-bar-container{
    position: absolute;
    width: 100%;
}

.bar {
    padding: 5px $default-spacing / 2;

    .title{
        margin: 0 $default-spacing / 2;    
    }
}

.scroll-content{
    @include transition(all ease 0.3s);
    top: $header-height + $filter-height;
    bottom: $tabs-height;
}

.item-content{
    padding: $default-spacing / 2 0;
}

.content-page{
    padding: $default-spacing/2;

    input,
    textarea{
        @include placeholder-color();
        width: 100%;
        padding: $default-spacing/2;
        margin-bottom: $default-spacing/2;
        color: $text-color;
        border: 1px solid $gray;
    }
    
    textarea{
        max-width: 100%;
        max-height: 400px;
        min-height: 100px;
        
    }
}

