@import "../_custom-variables.scss";
@import "../_custom-mixins.scss";

.col-spacing{
    padding: $default-spacing / 2;

    &-sides{
        padding: 0 $default-spacing / 2;
    }
}

.devider{
    
    &--right{
        border-right: 1px solid $white;
    }
}

.default-margin{

    &-bottom{
        margin-bottom: $default-spacing;

        &-half{
            margin-bottom: $default-spacing / 2;
        }
    }
}


.bg-primary{
    background-color: $brand-primary;
}


.state--change{
    .fade-on-state-change{
        opacity: 0;
    }
}

.fade-on-state-change{
    @include transition(opacity linear 0.3s);
    opacity: 1;
}

.item-next{
    display: block;
    text-decoration: none;
}


.check-in{
    $check-in-size: 50px;
    padding-bottom: $default-spacing/2;
    border-bottom: 1px solid $gray;

    &__col{
        @include clearfix;
        width: 100%;
        text-align: center;
    }

    &__count-container{
        display: inline-block;
    }

    &__count{
        display: block;
        float: left;
        padding: 0 $default-spacing/2 0 0;
        font-size: $check-in-size;
        line-height: 1em;
        color: $brand-primary;
    }

    &__label{
        display: block;
        font-size: $font-size-small;
        line-height: 1.3em;
        text-transform: uppercase;
        color: $gray-dark;
    }

    &__button{
        margin-left: $default-spacing/2;
        padding: $default-spacing/1.7 $default-spacing/3;
        color: $brand-primary;
        text-transform: uppercase;
        border: 1px solid $brand-primary;
        white-space: normal;
        background: transparent;

        &:active,
        &:focus,
        &.active{
            color: $white;
            background: $brand-primary;
        }
    }
}

