@import "../../_custom-mixins.scss";
@import "../../_custom-variables.scss";

.tab-nav{
    @include transition(transform ease 0.3s);
    transform: translate3d(0, 0, 0);
}


body.tab-nav--hide{

    .scroll-content{
        bottom: 0;
    }

    .tab-nav{
        transform: translate3d(0, 100%, 0);
    }
    
}