
<ion-view>
    <ion-pane>
        <ion-content class="content-page">
            <h1>Om app'en</h1>
            <p>
                Spots Appen er lavet af surfere, til surfere. Idéen til app'en kom fordi der ikke var nogle gode app's til at søge efter nye spots eller spots i nærheden.
            </p>
            <p>
                Ved hjælp af GPS kan Spots hele tiden vise dig de spots der er i nærheden. Du skal blot give tilladelse.
            </p>

            <h2>Kommentarer eller forslag?</h2>
            <p>Hjælp os med at blive bedre - Har du gode ideer til forbedringer, nye spot's eller spørgsmål, så skriv til os. På forhånd tak.</p>

            <a href="#" ng-click="openLinkInBrowser('mailto:info@thylle.dk?subject=Feedback - Spots')" class="button button-positive">Kontakt os</a>

            <!--<form>
                <input type="text" placeholder="Navn">
                <input type="email" placeholder="Email">
                <textarea placeholder="Besked" cols="3"></textarea>
            </form>

            <button class="button button-block button-positive">Send besked</button>
            -->
        </ion-content>
    </ion-pane>
</ion-view>




