<ion-view view-title="">
    <ion-pane>
        <ion-content>
            <ion-item class="ion-item" ng-show="!pageFailed">

                <!--Image-->
                <div class="item-image  fade-on-state-change">
                    <div class="item-image__background" data-ng-style="{'background-image': 'url({{currentSpotImage}})'}" data-ng-if="currentSpotImage"></div>

                    <div ng-if="currentSpot.Weather">
                        <div class="item-image__optimal-info" ng-if="currentSpot.IsSpotOptimal">
                            <span class="icon ion-checkmark-circled"></span>
                            Surfs up!
                        </div>
                    </div>

                    <div class="item-image__text">
                        <span>{{currentSpot.Name}}</span>

                        <span class="item-image__text--right" data-ng-show="currentSpot.DrivingDistance">
                            <span data-ng-show="currentSpot.DrivingDistance">
                                <i class="icon ion-android-car"></i>
                                {{currentSpot.DrivingDistance}}.<br />
                                {{currentSpot.DrivingDuration}}
                            </span>
                        </span>
                    </div>
                </div>

                <!-- weather diagram rendered with JS-->
                <div id="weather-diagram">
                    <div class="diagram__info" ng-if="currentSpot.Weather">
                        <p>Vind lige nu</p>
                        <p class="icon ion-navigate" ng-style="{'transform': 'rotate('+ calculateWindDegressFromDirection(currentSpot.Weather[0].WindDirection) +'deg)'}"></p>
                        <!--<p>{{currentSpot.Weather[0].WindDirection}}</p>-->
                        <p class="diagram__info--speed">
                            <span>{{currentSpot.Weather[0].WindSpeed}}</span>
                            <span>m/s</span>
                        </p>
                    </div>
                </div>

                <!--Compare Overview - No Data -->
                <div class="compare-overview compare-overview--no-data" data-ng-if="!currentSpot.Weather">
                    <div class="compare-overview__container">
                        <div class="compare-overview__item">
                            <span class="icon ion-ios-cloud-outline"></span>
                            <span>Ingen vejr data</span>
                        </div>
                    </div>
                </div>

                <!--Compare Container -->
                <div class="compare__container" ng-if="currentSpot.Weather">

                    <!--Compare Header-->
                    <div class="compare__item">
                        <div class="compare__col compare__col--headline compare__col--icon">
                            <span class="compare__col--icon-weather">
                                <span class="icon {{currentSpot.Weather[0].WeatherIcon}}"></span>
                                <span class="temperature">{{currentSpot.Weather[0].Degrees}}°</span>
                            </span>
                        </div>
                        <div class="compare__col compare__col--headline">Lige nu</div>
                        <div class="compare__col compare__col--headline">Optimalt</div>
                    </div>

                    <!--Compare Wind Speed-->
                    <div class="compare__item">
                        <div class="compare__col compare__col--table-headline">
                            Vindstyrke: <br />
                        </div>
                        <div class="compare__col">{{currentSpot.Weather[0].WindSpeed}} m/s</div>
                        <div class="compare__col"><span ng-if="currentSpot.Category == 'Cable'">Max. </span> {{currentSpot.OptimalWindSpeed}} m/s</div>
                    </div>

                    <!--Compare Wind Direction-->
                    <div class="compare__item">
                        <div class="compare__col compare__col--table-headline compare__col--multiple-lines">
                            Vindretning: <br />
                        </div>
                        <div class="compare__col  compare__col--icon uppercase">
                            <span class="icon ion-navigate" ng-style="{'transform': 'rotate('+ calculateWindDegressFromDirection(currentSpot.Weather[0].WindDirection) +'deg)'}"></span>
                            {{currentSpot.Weather[0].WindDirection}}
                        </div>
                        <div class="compare__col compare__col--icon uppercase">
                            <span class="icon ion-navigate" ng-style="{'transform': 'rotate('+ calculateWindDegressFromDirection(currentSpot.OptimalWindDirection) +'deg)'}"></span>
                            {{currentSpot.OptimalWindDirection}}
                        </div>
                    </div>
                </div>

                <!--Check In Button-->
                <div class="default-margin-top-half default-margin-bottom-half clearfix">
                    <div class="check-in">
                        <div class="check-in__col">

                            <div class="check-in__count-container">
                                <strong class="check-in__title">Fortæl andre om du surfer her</strong>

                                <span class="check-in__count">
                                    {{currentSpot.CheckIns}}
                                    <span class="check-in__label">Surfer her i dag</span>
                                </span>
                                <button class="btn btn-primary check-in__button" data-ng-click="checkIn()" data-ng-if="checkedInId != currentSpot.Id" data-ng-disabled="inProgress">Check-in</button>
                                <button class="btn btn-primary check-in__button active" data-ng-click="checkOut()" data-ng-if="checkedInId == currentSpot.Id" data-ng-disabled="inProgress">Fortryd <span aria-hidden="true" class="icon ion-android-close"></span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Description-->
                <div class="row  col-spacing-sides">
                    <div class="col">
                        <pre class="item-description  fade-on-state-change">{{currentSpot.Description}}</pre>
                    </div>
                </div>

                <!--External Links-->
                <div class="row">
                    <div class="col col-50  external-link  devider--right">
                        <!--<a href="#" ng-click="openLinkInBrowser('http://ifm.fcoo.dk/denmark/#zoom=7&lat=55.7&lon=11.1&locate=false&follow=false&level=0&layer=FCOO%20Standard&overlays=Short%20range%20forecasts.windspeed%252CShort%20range%20forecasts.winddirection%252CSafety.MSI%252CSafety.Firing%20warnings')" class="item-next">-->
                        <a href="#" ng-click="openLinkInBrowser(currentSpot.WeatherUrl)" class="item-next">
                            <h4 class="next-story">yr.no</h4>
                            <h2>Vejrudsigt</h2>
                            <i class="icon ion-ios-cloud item-next-icon"></i>
                        </a>
                    </div>
                    <div class="col col-50  external-link">
                        <a href="#" ng-click="openLinkInBrowser(currentSpot.GoogleMapsLink)" class="item-next">
                            <h4 class="next-story">Google Maps</h4>
                            <h2>Find vej</h2>
                            <i class="icon ion-location item-next-icon"></i>
                        </a>
                    </div>
                </div>

                <!--Social External Links-->
                <div class="row">
                    <div class="col col-50  external-link  devider--right" ng-show="currentSpot.FacebookUrl">
                        <a href="#" ng-click="openLinkInBrowser(currentSpot.FacebookUrl)" class="item-next">
                            <h4 class="next-story">facebook.com</h4>
                            <h2>Facebook</h2>
                            <i class="icon ion-social-facebook item-next-icon"></i>
                        </a>
                    </div>
                    <div class="col col-50  external-link" ng-show="currentSpot.WebsiteUrl">
                        <a href="#" ng-click="openLinkInBrowser(currentSpot.WebsiteUrl)" class="item-next">
                            <h4 class="next-story">www</h4>
                            <h2>Hjemmeside</h2>
                            <i class="icon ion-monitor item-next-icon"></i>
                        </a>
                    </div>
                </div>

                <!--Next Spot
                    <div class="item-next">
                    <h4 class="next-story">NEXT SPOT</h4>
                    <h2>Hvide Sande Kabelpark - 104km</h2>
                    <i class="icon ion-ios-arrow-right item-next-icon"></i>
                </div>-->
            </ion-item>
        </ion-content>
    </ion-pane>
</ion-view>
