<ion-view view-title="">
    <ion-pane>
        <ion-content>
            <ion-item class="ion-item" ng-show="!pageFailed">

                <!--Image-->
                <div class="item-image  fade-on-state-change">
                    <div class="item-image__background" data-ng-style="{'background-image': 'url({{currentSpotImage}})'}" data-ng-if="currentSpotImage"></div>

                    <div class="item-image__text">
                        <span>{{currentSpot.Name}}</span>

                        <span class="item-image__text--right" data-ng-show="currentSpot.DrivingDistance">
                            <span data-ng-show="currentSpot.DrivingDistance">
                                <i class="icon ion-android-car"></i>
                                {{currentSpot.DrivingDistance}}.<br />
                                {{currentSpot.DrivingDuration}}
                            </span>
                        </span>
                    </div>
                </div>

                <!--Compare Overview - No Data -->
                <div class="compare-overview compare-overview--no-data" data-ng-if="!currentSpot.Weather">
                    <div class="compare-overview__container">
                        <div class="compare-overview__item">
                            <span class="icon ion-ios-cloud-outline"></span>
                            <span>Ingen vejr data</span>
                        </div>
                    </div>
                </div>

                <!--Compare Overview-->
                <div class="compare-overview" data-ng-show="currentSpot.Weather" data-ng-click="overviewActive = !overviewActive" data-ng-class="{'active' : overviewActive}">
                    <div class="compare-overview__container">
                        <div class="compare-overview__item">
                            <span class="icon icon ion-speedometer"></span>
                            <span>{{currentSpot.Weather.WindSpeed}} m/s</span>
                        </div>
                        <div class="compare-overview__item">
                            <span class="icon icon ion-navigate rotate-icon" ng-style="{'transform': 'rotate('+ currentSpotWindDegCorrected +'deg)'}"></span>
                            <span>{{currentSpot.Weather.WindDirection}}</span>
                        </div>
                        <div class="compare-overview__item">
                            <span class="icon {{currentSpot.Weather.WeatherIcon}}"></span>
                            <span>{{currentSpot.Weather.Degrees}}°</span>
                        </div>
                    </div>
                </div>

                <!--Compare Container (hidden by default)-->
                <div class="compare__container" data-ng-show="overviewActive">
                    <div class="compare__item">
                        <div class="compare__col compare__col--headline">Lige nu</div>
                        <div class="compare__col compare__col--headline"></div>
                        <div class="compare__col compare__col--headline">Optimalt</div>
                    </div>

                    <div class="compare__item">
                        <div class="compare__col">{{currentSpot.Weather.WindSpeed}} m/s</div>
                        <div class="compare__col compare__col--icon">
                            <span class="icon ion-speedometer"></span>
                        </div>
                        <div class="compare__col">{{currentSpot.OptimalWindSpeed}} m/s</div>
                    </div>

                    <div class="compare__item">
                        <div class="compare__col uppercase">{{currentSpot.Weather.WindDirection}}</div>
                        <div class="compare__col compare__col--icon">
                            <span class="icon ion-navigate" ng-style="{'transform': 'rotate('+ currentSpotWindDegCorrected +'deg)'}"></span>
                        </div>
                        <div class="compare__col uppercase">{{currentSpot.OptimalWindDirection}}</div>
                    </div>

                    <div class="compare__item">
                        <div class="compare__col">{{currentSpot.Weather.Degrees}}°</div>
                        <div class="compare__col compare__col--icon">
                            <span class="icon {{currentSpot.Weather.WeatherIcon}}"></span>
                        </div>
                        <div class="compare__col">8°</div>
                    </div>
                </div>

                <!--Check In Button-->
                <div class="default-margin-top default-margin-bottom-half clearfix">
                    <div class="check-in">
                        <div class="check-in__col">
                            <div class="check-in__count-container">
                                <span class="check-in__count">
                                    {{currentSpot.CheckIns}}
                                    <span class="check-in__label">Surfer her i dag</span>
                                </span>
                                <button class="btn btn-primary check-in__button" data-ng-click="checkIn()" data-ng-if="checkedInId != currentSpot.Id" data-ng-disabled="inProgress">Jeg surfer her</button>
                                <button class="btn btn-primary check-in__button active" data-ng-click="checkOut()" data-ng-if="checkedInId == currentSpot.Id" data-ng-disabled="inProgress">Fortryd <span aria-hidden="true" class="icon ion-android-close"></span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Description-->
                <div class="row  col-spacing-sides">
                    <div class="col">
                        <pre class="item-description  fade-on-state-change">{{currentSpot.Description}}</pre>
                    </div>
                </div>

                <!--External Links-->
                <div class="row">
                    <div class="col col-50  devider--right">
                        <!--<a href="#" ng-click="openLinkInBrowser('http://ifm.fcoo.dk/denmark/#zoom=7&lat=55.7&lon=11.1&locate=false&follow=false&level=0&layer=FCOO%20Standard&overlays=Short%20range%20forecasts.windspeed%252CShort%20range%20forecasts.winddirection%252CSafety.MSI%252CSafety.Firing%20warnings')" class="item-next">-->
                        <a href="#" ng-click="openLinkInBrowser(currentSpot.WeatherUrl)" class="item-next">
                            <h4 class="next-story">yr.no</h4>
                            <h2>Vejrudsigt</h2>
                            <i class="icon ion-ios-cloud item-next-icon"></i>
                        </a>
                    </div>
                    <div class="col col-50">
                        <a href="#" ng-click="openLinkInBrowser(currentSpotMapsLink)" class="item-next">
                            <h4 class="next-story">Google Maps</h4>
                            <h2>Find vej</h2>
                            <i class="icon ion-location item-next-icon"></i>
                        </a>
                    </div>
                </div>

                <!--Next Spot
                    <div class="item-next">
                    <h4 class="next-story">NEXT SPOT</h4>
                    <h2>Hvide Sande Kabelpark - 104km</h2>
                    <i class="icon ion-ios-arrow-right item-next-icon"></i>
                </div>-->
            </ion-item>
        </ion-content>
    </ion-pane>
</ion-view>
