@import "../../_custom-mixins.scss";
@import "../../_custom-variables.scss";


body.header-filter--hide,
body.header-filter--hide-important{

    &.platform-ios .scroll-content{
        top: $header-height + 20 !important;
    }
    .scroll-content{
        top: $header-height !important;
    }

    &.platform-ios .header-filter,
    .header-filter{
        transform: translate3d(0, -($header-height + $filter-height + $default-spacing), 0) !important;
    }
}



.bar-positive.nav-bar-container{
    display: block;
    min-height: $header-height;
    background: $brand-error;
}


.platform-ios .header-filter{
    top: $header-height + 10 !important;
}

.header-filter{
    will-change: transform;
    @include transition(transform ease 0.3s);
    z-index: $z-index-header;
    position: fixed;
    top: $header-height;
    width: 100%;
    height: $filter-height;
    color: $white;
    background: $brand-primary;  
    box-shadow: 0 0 6px 1px #999;  

    //Hack to give blue background to whole header when loading content - because Ionic header hasent been loaded.
    &:before{
        content: "";
        position: absolute;
        bottom: 100%;
        width: 100%;
        height: $header-height*2;
        background: $brand-primary;
    }

    &__search{
        padding: 0 $default-spacing / 2;
        margin-top: $default-spacing/6;

        label{
            position: relative;
            display: block;
            width: 100%;
            padding: 0 $default-spacing / 3 0 $default-spacing / 1.5;
            border-bottom: 1px solid $white;
        }

        .icon{
            position: absolute;
            top: 50%;
            left: 0;
            height: $font-size-large;
            margin: -($font-size-large / 2) 0 0;
            font-size: $font-size-large;
            line-height: $font-size-large;
        }

        input{
            width: 100%;
            padding-left: 0;
            background: transparent;
        }
    }
    

    &__category{
        @include clearfix;
        text-align: center;
    }

    &__button-col{
        width: 33.3%;
        float: left;
        padding: 0;

        button{
            display: block;
            width: 100%;
            padding: 16px $default-spacing/6 9px; //Magic numbers to align filter to height of the header
            line-height: 1.4em;
            color: $white;
            border: 0;
            border-bottom: 2px solid transparent;
            background: transparent;

            &.active{
                border-color: $white;
            }
        }
    }
}