@import "../../_custom-mixins.scss";
@import "../../_custom-variables.scss";


#map {
    position: absolute;
    width: 100%;
    top: $header-height;
    bottom: $tabs-height;
    z-index: $z-index-map;
}