<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Spots</title>

    <!--<link href="css/ionic.app.min.css" rel="stylesheet" />-->
    <!--<link href="bundled/3rd-party/ionic.app.css" rel="stylesheet" />-->
    <link href="bundled/master.css" rel="stylesheet" />

    <script src="js/platformOverrides.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
</head>
<body ng-app="app" ng-controller="baseController" class="header-filter--hide tab-nav--hide" ng-class="{'header-filter--hide tab-nav--hide' : isLoading || pageFailed}">
    <div role="main">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
        </ion-nav-bar>

        <div class="header-filter">
            <div class="header-filter__search">
                <label>
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Søg efter spots..." ng-model="searchSpots.Name" />
                </label>
            </div>
            <div class="header-filter__category" data-ng-cloak="">
                <div class="header-filter__button-col" data-ng-repeat="item in categories">
                    <button data-ng-click="filterByCategory(item)" data-ng-class="{'active' : item.Filter == categoryFilter}">{{item.Name}}</button>
                </div>
            </div>
        </div>

        <ion-nav-view></ion-nav-view>

        <div id="map" ng-show="mapActive"></div>

        <div class="message__container" data-ng-class="{'active' : (pageFailed || isLoading) && !ignoreMessages}">
            <div class="message__content" data-ng-if="isLoading">
                <div class="message__spinner">
                    <img src="svg/loading.svg" class="message__img" />
                </div>
                <div class="message__spinner-text">
                    {{loadingMessage}}
                </div>
            </div>

            <div class="message__content" data-ng-if="pageFailed">
                Indhold ikke hentet<br />
                <small ng-if="!loadingMessage">Tjek at du har forbindelse til internettet eller prøv igen senere</small>
                <small ng-if="loadingMessage">{{loadingMessage}}</small>

                <br/>
                <br/>
                <button class="button button-positive" data-ng-click="refreshApp()">Prøv igen</button>
            </div>
        </div>
    </div>

    <ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab title="Oversigt" icon="ion-ios-home-outline" href="#/home">
        </ion-tab>

        <ion-tab title="Kort" icon="ion-ios-location-outline" href="#/map">
        </ion-tab>

        <ion-tab title="Info" icon="ion-ios-help-outline" href="#/info">
        </ion-tab>
    </ion-tabs>


    <script src="lib/jquery.min.js"></script>
    <script src="bundled/helpers.js"></script>
    <script src="bundled/angular-app.js"></script>
    <script src="bundled/services.js"></script>
    <script src="bundled/modules.js"></script>
    <script src="bundled/controllers.js"></script>

    <!--Google Maps Api - for the google maps tab-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-mzmZW2hh4fsg0WnnyhiIMkpCApvI2sU&libraries=geometry"></script>
</body>
</html>
